* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 170, 102);

    .headerIndex {
        height: 25vh;
        background-image: url(../assets/images/banner.jpg);
        background-size: cover;
        object-fit: cover;
        background-position: center;
    }

    .mainIndex{
        height: 70vh;
    }

    .footerIndex {
        height: 5vh;
        background-color: black;
        color: white;
    }
}